@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Manrope:wght@600&display=swap');

#container {
  text-align: center;
}
#mess {
  font-family: 'Lexend', sans-serif;
}

.b {
  color: midnightblue
}
#text {
  font-family: 'Manrope', sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: black;
  letter-spacing: 2px;
  font-size: 54px; /* Tamaño de fuente más grande */
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: black;
  animation: blink .75s step-end infinite;
}

@keyframes blink {
  from, to { 
    background-color: transparent 
  }
  50% { 
    background-color: black; 
  }
}
